<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zmu.cloud.commons.mapper.FirmwareUpgradeReportMapper">
  <resultMap id="BaseResultMap" type="com.zmu.cloud.commons.entity.FirmwareUpgradeReport">
    <!--@mbg.generated-->
    <!--@Table firmware_upgrade_report-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="firmware_category" jdbcType="VARCHAR" property="firmwareCategory" />
    <result column="firmware_version" jdbcType="VARCHAR" property="firmwareVersion" />
    <result column="upgrade_time" jdbcType="TIMESTAMP" property="upgradeTime" />
    <result column="upgrade_count" jdbcType="INTEGER" property="upgradeCount" />
    <result column="upgrade_success" jdbcType="INTEGER" property="upgradeSuccess" />
    <result column="upgrade_fail" jdbcType="INTEGER" property="upgradeFail" />
    <result column="upgrade_status" jdbcType="INTEGER" property="upgradeStatus" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, firmware_category, firmware_version, upgrade_time, upgrade_count, upgrade_success, 
    upgrade_fail, upgrade_status
  </sql>
</mapper>