<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zmu.cloud.commons.mapper.SysProductionTipsMapper">
    <resultMap id="BaseResultMap" type="com.zmu.cloud.commons.entity.SysProductionTips">
        <!--@mbg.generated-->
        <!--@Table sys_production_tips-->
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="company_id" jdbcType="BIGINT" property="companyId"/>
        <result column="type" jdbcType="INTEGER" property="type"/>
        <result column="merit" jdbcType="VARCHAR" property="merit"/>
        <result column="days" jdbcType="INTEGER" property="days"/>
        <result column="status" jdbcType="INTEGER" property="status"/>
        <result column="del" jdbcType="CHAR" property="del"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
        <result column="create_by" jdbcType="BIGINT" property="createBy"/>
        <result column="update_by" jdbcType="BIGINT" property="updateBy"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id, company_id, `type`, merit, `days`, `status`, del, remark, create_by, update_by,
        create_time, update_time
    </sql>

    <select id="selectByType" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from sys_production_tips
        where del = 0
          and type = #{type,jdbcType=INTEGER}
          and status = 1
          and company_id > 0
        group by company_id
    </select>

    <select id="getWantGoOutDays" parameterType="long" resultType="int">
        select days from sys_production_tips where del = '0' and type = 10 and status = 1 and company_id = #{companyId}
    </select>
</mapper>