<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zmu.cloud.commons.mapper.CompanyMapper">
  <resultMap id="BaseResultMap" type="com.zmu.cloud.commons.entity.admin.Company">
    <!--@mbg.generated-->
    <!--@Table company-->
    <id column="id" jdbcType="BIGINT" property="id"/>
    <result column="name" jdbcType="VARCHAR" property="name"/>
    <result column="contact_name" jdbcType="VARCHAR" property="contactName"/>
    <result column="phone" jdbcType="VARCHAR" property="phone"/>
    <result column="email" jdbcType="VARCHAR" property="email"/>
    <result column="province_id" jdbcType="INTEGER" property="provinceId"/>
    <result column="city_id" jdbcType="INTEGER" property="cityId"/>
    <result column="area_id" jdbcType="INTEGER" property="areaId"/>
    <result column="address" jdbcType="VARCHAR" property="address"/>
    <result column="enabled" jdbcType="CHAR" property="enabled"/>
    <result column="del" jdbcType="CHAR" property="del"/>
    <result column="remark" jdbcType="VARCHAR" property="remark"/>
    <result column="create_by" jdbcType="BIGINT" property="createBy"/>
    <result column="update_by" jdbcType="BIGINT" property="updateBy"/>
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
  <association property="provinceName" javaType="java.lang.String" column="province_id" select="com.zmu.cloud.commons.mapper.AreaMapper.selectNameByPrimaryKey"/>
  <association property="cityName" javaType="java.lang.String" column="city_id" select="com.zmu.cloud.commons.mapper.AreaMapper.selectNameByPrimaryKey"/>
  <association property="areaName" javaType="java.lang.String" column="area_id" select="com.zmu.cloud.commons.mapper.AreaMapper.selectNameByPrimaryKey"/>

  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, `name`, contact_name, phone, email, province_id,city_id,area_id, address, enabled, del, remark, create_by,
    update_by, create_time, update_time
  </sql>
</mapper>