<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zmu.cloud.commons.mapper.FeedTowerEmployMapper">
  <resultMap id="BaseResultMap" type="com.zmu.cloud.commons.entity.FeedTowerEmploy">
    <!--@mbg.generated-->
    <!--@Table feed_tower_employ-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="tower_id" jdbcType="BIGINT" property="towerId" />
    <result column="employ_id" jdbcType="BIGINT" property="employId" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, tower_id, employ_id
  </sql>
</mapper>