<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zmu.cloud.commons.mapper.PigBackFatTaskDetailMapper">
  <resultMap id="BaseResultMap" type="com.zmu.cloud.commons.entity.PigBackFatTaskDetail">
    <!--@mbg.generated-->
    <!--@Table pig_back_fat_task_detail-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="company_id" jdbcType="BIGINT" property="companyId" />
    <result column="pig_farm_id" jdbcType="BIGINT" property="pigFarmId" />
    <result column="pig_house_id" jdbcType="BIGINT" property="pigHouseId" />
    <result column="pig_house_rows_id" jdbcType="BIGINT" property="pigHouseRowsId" />
    <result column="pig_house_column_id" jdbcType="BIGINT" property="pigHouseColumnId" />
    <result column="column_code" jdbcType="VARCHAR" property="columnCode" />
    <result column="column_position" jdbcType="VARCHAR" property="columnPosition" />
    <result column="pig_id" jdbcType="BIGINT" property="pigId" />
    <result column="ear_number" jdbcType="VARCHAR" property="earNumber" />
    <result column="back_fat" jdbcType="INTEGER" property="backFat" />
    <result column="operator" jdbcType="BIGINT" property="operator" />
    <result column="task_id" jdbcType="BIGINT" property="taskId" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="del" jdbcType="CHAR" property="del" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="create_by" jdbcType="BIGINT" property="createBy" />
    <result column="update_by" jdbcType="BIGINT" property="updateBy" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, company_id, pig_farm_id, pig_house_id, pig_house_rows_id, pig_house_column_id, 
    column_code, column_position, pig_id, ear_number, back_fat, `operator`, task_id, 
    `status`, del, remark, create_by, update_by, create_time, update_time
  </sql>
</mapper>