<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zmu.cloud.commons.mapper.PigPreventionCureMapper">
    <resultMap type="com.zmu.cloud.commons.entity.PigPreventionCure" id="PigPreventionCureResult">
        <result property="id" column="id"/>
        <result property="registrationTime" column="registration_time"/>
        <result property="manageType" column="manage_type"/>
        <result property="preventionCureObject" column="prevention_cure_object"/>
        <result property="preventionCureNumber" column="prevention_cure_number"/>
        <result property="locationId" column="location_id"/>
        <result property="medicineName" column="medicine_name"/>
        <result property="preventionCureDisease" column="prevention_cure_disease"/>
        <result property="preventionCureSymptom" column="prevention_cure_symptom"/>
        <result property="totalConsumption" column="total_consumption"/>
        <result property="doseUnit" column="dose_unit"/>
        <result property="medicineMode" column="medicine_mode"/>
        <result property="operator" column="operator"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="remark" column="remark"/>
        <result property="pigFarmId" column="pig_farm_id"/>
        <result property="companyId" column="company_id"/>
    </resultMap>
    <sql id="selectPigPreventionCureVo">
        select id,registration_time,manage_type,prevention_cure_object,prevention_cure_number,location_id,prevention_cure_disease,prevention_cure_symptom,medicine_name,total_consumption,dose_unit,medicine_mode,operator,create_by,create_time,update_by,update_time,remark,pig_farm_id,company_id
        from pig_prevention_cure
    </sql>

    <insert id="add">
        insert into pig_prevention_cure (registration_time, manage_type, prevention_cure_object, prevention_cure_number,location_id,
        prevention_cure_disease, prevention_cure_symptom,
        medicine_name,total_consumption,dose_unit,medicine_mode,operator,create_by,create_time,update_by, update_time,pig_farm_id,company_id
        <if test="remark != null">
            ,remark
        </if>)
        values
        (#{registrationTime},#{manageType},#{preventionCureObject},#{preventionCureNumber},#{locationId},#{preventionCureDisease},#{preventionCureSymptom},#{medicineName},#{totalConsumption},#{doseUnit},#{medicineMode},#{operator},#{createBy},#{createTime},#{updateBy},#{updateTime},#{pigFarmId},#{companyId}
        <if test="remark != null">
            ,#{remark}
        </if>)
    </insert>

    <update id="update">
        update pig_prevention_cure
        set registration_time = #{registrationTime}
          , manage_type=#{manageType}
          , PreventionCure_object=#{preventionCureObject}
          , PreventionCure_number=#{preventionCureNumber}
          , location_id=#{locationId}
          , prevention_cure_disease=#{preventionCureDisease}
          , prevention_cure_symptom=#{preventionCureSymptom}
          , medicine_name=#{medicineName}
          , total_consumption=#{totalConsumption}
          , dose_unit=#{doseUnit}
          , medicine_mode=#{medicineMode}
          , operator=#{operator}
          , update_by=#{updateBy}
          , update_time=#{updateTime}
          , remark=#{remark}
        where id = #{id};
    </update>

    <update id="del">
        update pig_prevention_cure
        set del = '1'
        where id = #{id};
    </update>


    <select id="detail" resultType="com.zmu.cloud.commons.vo.PigPreventionCureVO">
        select id id,
               registration_time registrationTime,
               manage_type manageType,
               prevention_cure_object preventionCureObject,
               prevention_cure_number preventionCureNumber,
               location_id locationId,
               prevention_cure_disease preventionCureDisease,
               prevention_cure_symptom preventionCureSymptom,
               medicine_name medicineName,
               total_consumption totalConsumption,
               dose_unit doseUnit,
               medicine_mode medicineMode,
               create_by createBy,
               create_time createTime,
               operator operator,
               update_by updateBy,
               update_time updateTime,
               remark remark,
               company_id companyId,
               pig_farm_id pigFarmId
        from pig_prevention_cure
        where del = '0'
          and id = #{id}
    </select>

    <select id="pageQuery" resultType="com.zmu.cloud.commons.vo.PigPreventionCureVO">
        select
        p.id id,
        p.registration_time registrationTime,
        p.manage_type manageType,
        p.prevention_cure_object preventionCureObject,
        p.prevention_cure_number preventionCureNumber,
        p.location_id locationId,
        ph.name location,
        p.prevention_cure_disease preventionCureDisease,
        p.prevention_cure_symptom preventionCureSymptom,
        p.medicine_name medicineName,
        p.total_consumption totalConsumption,
        p.dose_unit doseUnit,
        p.medicine_mode medicineMode,
        p.remark remark,
        p.operator operator,
        p.update_time updateTime
        from pig_prevention_cure p left join pig_house ph on p.location_id = ph.id
        where p.del = '0'
        <if test="preventionCureNumber != null and preventionCureNumber != ''">
            and p.prevention_cure_number like concat('%', #{preventionCureNumber}, '%')
        </if>
        <if test="location != null and location != ''">
            and ph.name like concat('%', #{location}, '%')
        </if>
        <if test="preventionCureObject != null and preventionCureObject != ''">
            and p.prevention_cure_object like concat('%', #{preventionCureObject}, '%')
        </if>
        <if test="startTime != null ">
            and p.registration_time &gt;= #{startTime}
        </if>
        <if test="endTime != null ">
            and p.registration_time &lt;= #{endTime}
        </if>
        order by p.registration_time desc
    </select>
</mapper>