<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zmu.cloud.commons.mapper.PigPregnancyMapper">
    <resultMap id="BaseResultMap" type="com.zmu.cloud.commons.entity.PigPregnancy">
        <!--@mbg.generated-->
        <!--@Table pig_pregnancy-->
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="company_id" jdbcType="BIGINT" property="companyId"/>
        <result column="pig_farm_id" jdbcType="BIGINT" property="pigFarmId"/>
        <result column="pig_breeding_id" jdbcType="BIGINT" property="pigBreedingId"/>
        <result column="pregnancy_date" jdbcType="DATE" property="pregnancyDate"/>
        <result column="pig_house_id" jdbcType="DATE" property="pigHouseId"/>
        <result column="pig_house_name" jdbcType="DATE" property="pigHouseName"/>
        <result column="pregnancy_result" jdbcType="INTEGER" property="pregnancyResult"/>
        <result column="operator_id" jdbcType="BIGINT" property="operatorId"/>
        <result column="parity" jdbcType="INTEGER" property="parity"/>
        <result column="boar_id" jdbcType="BIGINT" property="boarId"/>
        <result column="mating_date" jdbcType="DATE" property="matingDate"/>
        <result column="del" jdbcType="CHAR" property="del"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
        <result column="create_by" jdbcType="BIGINT" property="createBy"/>
        <result column="update_by" jdbcType="BIGINT" property="updateBy"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id, company_id, pig_farm_id, pig_breeding_id, pregnancy_date, pig_house_id, pig_house_name, pregnancy_result, operator_id,mating_date,boar_id,
        parity, del, remark, create_by, update_by, create_time, update_time
    </sql>

    <select id="selectEventId" resultType="com.zmu.cloud.commons.vo.EventPregnancyVO">
        select p.parity,
               p.remark,
               p.operator_id      operatorId,
               p.pregnancy_date   pregnancyDate,
               p.pregnancy_result pregnancyResult,
               u.real_name        operatorName,
               p.create_time      createTime,
               p.id,
               p.pig_breeding_id  pigBreedingId,
               p.pig_house_name   pigHouseName
        from pig_pregnancy p
                     left join sys_user u on u.id = p.operator_id
        where p.pig_breeding_id = #{id,jdbcType=BIGINT}
        order by p.create_time desc
    </select>
    <select id="event" resultType="com.zmu.cloud.commons.vo.EventPigPregnancyVO">
        select p.mating_date      matingDate,
               bo.ear_number      boarEarNumber,
               b.ear_number       earNumber,
               u.real_name        operatorName,
               p.create_time      createTime,
               p.pregnancy_result pregnancyResult,
               p.pregnancy_date   pregnancyDate,
               p.remark,
               p.pig_house_name             pigHouse
        from pig_pregnancy p
                     left join pig_breeding b on p.pig_breeding_id = b.id
                     left join pig_breeding bo on p.boar_id = bo.id
                     left join sys_user u on u.id = p.operator_id
        <where>
            <if test="earNumber != null and earNumber != ''">
                and b.ear_number like concat('%', #{earNumber}, '%')
            </if>
            <if test="(startTime != null and startTime != '') and (endTime != null and endTime != '')">
                and p.pregnancy_date BETWEEN #{startTime,jdbcType=VARCHAR} AND #{endTime,jdbcType=VARCHAR}
            </if>
            <if test="pigHouseId != null">
                and p.pig_house_id = #{pigHouseId,jdbcType=BIGINT}
            </if>
            <if test="pregnancyResult != null">
                and p.pregnancy_result = #{pregnancyResult,jdbcType=INTEGER}
            </if>
            and p.del = 0
        </where>
        order by p.pregnancy_date desc
    </select>

    <select id="selectPigBreedingIdAndParity" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from pig_pregnancy
        where del = 0
          and pig_breeding_id = #{pigBreedingId,jdbcType=BIGINT}
          and parity = #{parity,jdbcType=INTEGER}
        order by create_time desc
    </select>
    <select id="selectByPigBreedingId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from pig_pregnancy
        where del = 0
          and pig_breeding_id = #{pigBreedingId,jdbcType=BIGINT}
        order by create_time desc
        limit 1
    </select>

      <select id="statisticPregnancy" resultType="com.zmu.cloud.commons.vo.HomeProductionReportOldVO$Pregnancy">
 SELECT
       COALESCE(ss, 0) AS ss,
        COALESCE(lc, 0) AS lc,
        COALESCE(fq, 0) AS fq,
        COALESCE(kh, 0) AS kh,
        COALESCE(ss, 0) + COALESCE(lc, 0) + COALESCE(fq, 0) + COALESCE(kh, 0) AS `count`
    FROM
        (SELECT
            SUM(CASE WHEN pregnancy_result =1  THEN 1 ELSE 0 END) AS ss,
            SUM(CASE WHEN pregnancy_result =2  THEN 1 ELSE 0 END) AS lc,
            SUM(CASE WHEN pregnancy_result =3  THEN 1 ELSE 0 END) AS fq,
            SUM(CASE WHEN pregnancy_result =4  THEN 1 ELSE 0 END) AS kh
        FROM pig_pregnancy where del = '0'
            <if test="startTime != null and endTime != null">
                and pregnancy_date between #{startTime} and #{endTime}
            </if>
          ) AS counts;
        </select>
</mapper>