<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zmu.cloud.commons.mapper.SphCompanyMapper">
  <resultMap id="BaseResultMap" type="com.zmu.cloud.commons.entity.SphCompany">
    <!--@mbg.generated-->
    <!--@Table sph_company-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="org_nm" jdbcType="VARCHAR" property="orgNm" />
    <result column="is_use" jdbcType="INTEGER" property="isUse" />
    <result column="org_type" jdbcType="BIGINT" property="orgType" />
    <result column="parent_id" jdbcType="BIGINT" property="parentId" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, org_nm, is_use, org_type, parent_id
  </sql>

    <insert id="sync">
        INSERT INTO sph_company
        (id, org_nm, is_use, org_type, parent_id)
        VALUES
        <foreach collection ="list" item="company" separator =",">
            (#{company.id}, #{company.orgNm}, #{company.isUse}, #{company.orgType}, #{company.parentId})
        </foreach >
    </insert>
</mapper>