<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zmu.cloud.commons.mapper.SysLoginInfoMapper">
  <resultMap id="BaseResultMap" type="com.zmu.cloud.commons.entity.admin.SysLoginInfo">
    <!--@mbg.generated-->
    <!--@Table sys_login_info-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="company_id" jdbcType="BIGINT" property="companyId" />
    <result column="pig_farm_id" jdbcType="BIGINT" property="pigFarmId" />
    <result column="login_name" jdbcType="VARCHAR" property="loginName" />
    <result column="ip" jdbcType="VARCHAR" property="ip" />
    <result column="login_location" jdbcType="VARCHAR" property="loginLocation" />
    <result column="browser" jdbcType="VARCHAR" property="browser" />
    <result column="os" jdbcType="VARCHAR" property="os" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="msg" jdbcType="VARCHAR" property="msg" />
    <result column="login_time" jdbcType="TIMESTAMP" property="loginTime" />
    <result column="del" jdbcType="CHAR" property="del" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="create_by" jdbcType="BIGINT" property="createBy" />
    <result column="update_by" jdbcType="BIGINT" property="updateBy" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, company_id, pig_farm_id, login_name, ip, login_location, browser, os, `status`, 
    msg, login_time, del, remark, create_by, update_by, create_time, update_time
  </sql>
</mapper>